.first-name{
    margin-left:68px;
}
.last-name{
    margin-left:70px;
}

.alias{
    margin-left:200px;
}

.email{
    margin-left: 101px;
}

.password{
    margin-left: 78px;
}

.username{
    margin-left: 75px;
}
.confirm-password{
    margin-left: 20px;
}
#head{
    height: 45px;
    padding-left: 6px;
    padding-top: .5px;
    padding-bottom: 8px;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    background: #22008f;
    font-family: Amaranth;
    font-size: 1.1em;
}
#logo{
    padding-top: 8px;
    margin-left: 0px;
    width: 50px;
    height: 40px;
}

body{
    margin: 0px;
    background-size: 350px;
    background-repeat: repeat;
}
#big-container{
    width: 60%;
    margin-top: 0px;
    margin-left: 310px;
    padding-bottom: 50px;
    border: 2px solid grey;
    border-width: thin;
    border-color: grey;
    background-color: c9c9c9;
    border-radius: 5px;
    overflow: hidden;
    background-color: #dae6f2;
    -moz-box-shadow: 0px 0px 20px #b0b0b0;
    -webkit-box-shadow: 0px 0px 10px #b0b0b0;
    box-shadow: 0px 0px 5px #b0b0b0;
}
#small-container{
    display: flex;
}
#get-started{
    font-family: Archivo;
    color: darkblue;
    width: 100%;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#container-1{
    flex:1;
    margin: 0px;
    margin-right: 0px;
    padding: 0px;
    padding-left: 50px;
    width: 750px;
}

#container-2{
    width: 750px;
    flex:1;
    padding: 0px;
    margin: 0px;
}

div{
    margin-bottom: 20px;
}
#button-1{
    margin-left: 227px;
}

#button-2{
    margin-left: 200px;
}

#one-stock{
    margin-top: 10px;
    padding-left: 10px;
    color: white;
}

.login-email{
    font-family: DroidSans;
    margin-left: 43px;
}
.login-password{
    margin-left: 20px;
}
#footer{
    height: 20px;
    padding-top: 0px;
    margin-top: 0px;
    display: flex;
}
hr{
    margin: 0px;
    padding: 0px;
}
h4{
    height: 10px;
    margin: 0px;
    padding-left: 20px;
    padding-top: 5px;
    font-style: italic;
    color: grey;
}
p{
    font-family: Calibri;
}

#welcome1{
    color: lightgrey;
    margin-left: 45%;
}

#links{
    margin-top: 20px;
    margin-left: 100px;
}
#dash-background{
    width: 100%;
    height: 640px;
}
#dash-footer{
    height: 5%;
}
a{
    color: grey;
    text-decoration: none;
}


