.first-name{
    margin-left:48px;
}
.last-name{
    margin-left:50px;
}

.alias{
    margin-left:200px;
}

.email{
    margin-left: 81px;
}

.password{
    margin-left: 58px;
}

body{
    background-color:dodgerblue;
    display: flex;
}

#container-1{
    flex:1;
}

#container-2{
    flex:1;
}

div{
    margin-bottom: 20px;
}
#button-1{
    margin-left: 227px;
}

#button-2{
    margin-left: 245px;
}
