.first-name{
    margin-left:71px;
}
.last-name{
    margin-left:72px;
}

.email{
    margin-left: 109px;
}

.password{
    margin-left: 81px;
}

.username{
    margin-left: 76px;
}
.confirm-password{
    margin-left: 20px;
}
#head{
    height: 45px;
    margin-top: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 8px;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    background: #004d03;
}
#logo{
    padding-top: 16px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

body{
    margin: 0px;
    background-color:lightgray;
}
#big-container{
    background-color: white;
    width: 60%;
    margin-top: 0px;
    margin-left: 310px;
    padding-bottom: 50px;
    border: 2px solid grey;
    border-width: thin;
    border-color: grey;
    border-radius: 5px;
    overflow: hidden;
    -moz-box-shadow: 0px 0px 20px #b0b0b0;
    -webkit-box-shadow: 0px 0px 10px #b0b0b0;
    box-shadow: 0px 0px 5px #b0b0b0;
}
#small-container{
    display: flex;
}
.get-started h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    transform: scale(1, 1);
    color: rgb(126, 144, 168);
    width: 100%;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#container-1{
    flex:1;
    margin: 0px;
    margin-right: 0px;
    padding: 0px;
    padding-left: 50px;
    width: 750px;
}
#container-1 h1{
    margin-bottom: 30px;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    transform: scale(1, 1);
    color: black;
}
#container-1 label{
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    transform: scale(1, 1);
    color: black;
}

#container-2{
    width: 750px;
    flex:1;
    padding: 0px;
    margin: 0px;
}
#container-2 h1{
    margin-bottom: 30px;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    transform: scale(1, 1);
    color: black;
}
#container-2 label{
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    transform: scale(1, 1);
    color: black;
}

div{
    margin-bottom: 20px;
}
#button-1{
    color: white;
    height: 30px;
    width: 100px;
    margin-left: 263px;
    background: rgb(156,188,217);
    background: linear-gradient(180deg, rgba(156,188,217,1) 29%, rgba(75,88,136,1) 100%);
    border: 2px solid grey;
    border-width: thin;
    border-color: grey;
    border-radius: 3px;
}

#button-2{
    color: white;
    height: 30px;
    width: 100px;
    margin-left: 200px;
    background: rgb(156,188,217);
    background: linear-gradient(180deg, rgba(156,188,217,1) 29%, rgba(75,88,136,1) 100%);
    border: 2px solid grey;
    border-width: thin;
    border-color: grey;
    border-radius: 3px;
}

#one-stock{
    color:white;
    margin-top: 10px;
    padding-left: 0px;
    font-family: 'Segoe', Tahoma, Geneva, Verdana, sans-serif;
    transform: scale(1, 1);
}

.login-email{
    margin-left: 48px;
}
.login-password{
    margin-left: 20px;
}
#footer{
    height: 20px;
    padding-top: 0px;
    margin-top: 0px;
    display: flex;
}
hr{
    margin: 0px;
    padding: 0px;
}
h4{
    height: 10px;
    margin: 0px;
    padding-left: 20px;
    padding-top: 5px;
    color: grey;
}
h5{
    height: 10px;
    margin: 0px;
    padding-left: 1070px;
    padding-top: 5px;
    color: grey;
}

p{
    font-family: Calibri;
}

#welcome1{
    color: lightgrey;
    margin-left: 45%;
}

#links{
    margin-top: 20px;
    margin-left: 100px;
}
#dash-background{
    background-size: cover;
    /* width: 100%;
    height: 6000px; */
}
#dash-footer{
    height: 5%;
}

input{
    height: 25px;
    width: 200px;
}
#dash-content{
    height: 500px;
}

#dash-onestock{
    margin-top: 0px;
    padding-top: 0px;
}
#grey-bg{
    width: 100%;
    height: 640px;
}

#wavy-body{
    margin-top: 0px;
    padding-top: 0px;
    background: url(grey_bg.jpg);
    background-size: cover;
}
#floating-logo{
    display: flex;
    height: 40px;
    margin-left: 200px;
    margin-top: 20px;
    padding: 0px;
    margin-bottom: 0px;
}

#one-stock-dash{
    color:#004d03;
    margin-top: 7px;
    padding-left: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: scale(1, 1);
}

#navbar{
    display: flex;
    background: rgb(182,182,182);
    background: linear-gradient(180deg, rgba(182,182,182,1) 52%, rgba(140,140,140,1) 100%);
    height: 35px;
    width: 100%;
    margin-top: 10px;
    margin-left: 13%;
    margin-bottom: 0px;
}
#dash-welcome{
    flex:1;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin-left: 15px;
    margin-top: 8px;
    font-size: 1em;
}

#dash-links{
    margin-left: 590px;
    margin-top: 6px;
    flex:1;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
#dash-links a{
    color: white;
    text-decoration: none;
} 
#dash-all{
    width: 1100px;
    margin-left: 70px;
}

#dash-stuff{
    background-color:#e8e9ed;
    height: 700px;
    margin: 0px;
    padding-left: 40px;
    padding: 0px;
    width: 100%;
    margin-left: 143px;
    padding-top: 20px;
}
#dash-portfolio{
    background-color: white;
    padding: 25px;
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 5px;
    height: 150px;
    width: 89%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 2em;
    color: darkslategrey;
}
#dash-stuff-two{
    background-color:#e8e9ed;
    height: 700px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-left: 143px;
    padding-top: 20px;
}
#dash-news{
    background-color: white;
    padding: 25px;
    margin-top: 25px;
    margin-left: 35px;
    margin-bottom: 25px;
    height: 150px;
    width: 89%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 2em;
    color: darkslategrey;
}
#dash-news-all{
    display: flex;
}
#dash-news-all p{
    font-size: .5em;
    flex: 60;
    width: 40%;
}
#dash-news-all a{
    margin-top: 14px;
    flex: 103;
    font-size: .5em;
    width: 50px;
}
#dash-stats-all{
    display: flex;
}
#dash-stats-all p{
    font-size: .5em;
    flex: 2;
    width: 40%;
}
#dash-stats-all a{
    margin-top: 14px;
    flex: 11;
    font-size: .5em;
    width: 50px;
}
#dash-p-content{
    display:flex;
}
#dash-p-content p{
    font-size: .5em;
    flex: 60;
    width: 40%;
}
#dash-p-content a{
    margin-top: 14px;
    flex: 103;
    font-size: .5em;
    width: 50px;
}
#dash-stats{
    background-color: white;
    padding: 25px;
    margin-top: 20px;
    margin-left: 35px;
    margin-top: 0px;
    height: 150px;
    width: 89%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 2em;
    color: darkslategrey;
}
#bynd-logo{
    width: 30px;
    height: 30px;
}
#amzn-logo{
    width: 30px;
    height: 30px;
}
#googl-logo{
    width: 30px;
    height: 30px;
}
#feed-article{
    display: flex;
    background-color: white;
    padding: 15px;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 6px;
    height: 25px;
    width: 91%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 2em;
    color: darkslategrey;
    border: 2px solid grey;
    border-width: thin;
    border-color: grey;
    border-radius: 5px;
    overflow: hidden;
    -moz-box-shadow: 0px 0px 20px #b0b0b0;
    -webkit-box-shadow: 0px 0px 10px #b0b0b0;
    box-shadow: 0px 0px 5px #b0b0b0;
    
}
#custom-feed{
    margin-top: 0px;
    margin-left: 38%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: darkslategrey;
}
#feed-article p{
    flex: 1;
    font-size: 1em;
    width: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#feed-link{
    margin-left: 0px;
    flex: 1;
    font-size: .5em;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
}
.saver{
    margin-left: 100px;
    flex: 1;
    font-size: .5em;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 30px;
    width: 200px;
    background: linear-gradient(180deg, rgba(156,188,217,1) 29%, rgba(75,88,136,1) 100%);
    border: 2px solid grey;
    border-width: thin;
    border-color: grey;
    border-radius: 3px;
    text-align: center;
    color: white;
    text-decoration: none;
}
.unsaver{
    margin-left: 100px;
    flex: 1;
    font-size: .5em;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 30px;
    width: 200px;
    background: linear-gradient(180deg, rgba(156,188,217,1) 29%, rgba(75,88,136,1) 100%);
    border: 2px solid grey;
    border-width: thin;
    border-color: grey;
    border-radius: 3px;
    text-align: center;
    color: white;
    text-decoration: none;
}
#b-logo{
    margin-right: 20px;
}

#feed-bottom-line{
    display: flex;
    background-color: rgb(169, 179, 189);
    padding-bottom: 25px;
    margin-bottom: 0px;
}
#feed-bottom-line h4{
    flex: 1;
}

#feed-bottom-line h5{
    flex: 1;
    width: 100px;
    margin-top: 10px;
    margin-left: 1000px;
    padding: 0px;
}

#a-logo{
    margin-top: 0px;
    height: 40px;
    width: 60px;
    margin-right: 20px;
}
#g-logo{
    margin-top: 0px;
    height: 30px;
    width: 60px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
}