<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">   
    <title>Buy/Sell</title>
</head>
<body>
    <div id="container">
        <div id="first">
            <div id="head">
                <h1 id="one-stock">OneStock</h1><img id="logo" src="{% static 'onestock_logo_wings.png' %}" alt="one stock logo">
                <h3 id="welcome1"> {{ current_user }}'s Profile </h3> 
                <div id="links">
                    <a href="/stats"> Statistics </a> | <a href="/buy_sell">Buy/Sell</a> | <a href="/profile">Profile</a> | <a href="/logout">Logout</a> 
                </div>
            </div>
    <h2>Buy/Sell Shares</h2>
    <a href="https://robinhood.com/us/en/">Robinhood</a>
    <br><br>
    <a href="https://www.tdameritrade.com/home.html">Ameritrade</a>
    <br><br>
    <a href="https://www.webull.com/">Webull</a>
</body>
</html> 
