<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'background.css' %}"> 
    <title>NASDAQ Stats</title>
</head>
<body>
    <h1> Welcome, {{ current_user }} </h1> <a href="/logout">Logout</a> | <a href="/stats">NASDAQ Stats</a> | <a href="/success"> Return to Dashboard</a> | <a href="/profile">Profile</a>
    <h2>Buy/Sell Shares</h2>
    <a href="https://robinhood.com/us/en/">Robinhood</a>
    <br><br>
    <a href="https://www.tdameritrade.com/home.html">Ameritrade</a>
    <br><br>
    <a href="https://www.webull.com/">Webull</a>
</body>
</html> 