<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">   
    <title>OneStock Dashboard</title>
</head>
<body id="wavy-body">
    <div id="floating-logo">
        <img id="logo" src="{% static 'artsy_white_logo.png' %}" alt="one stock logo"><h1 id="one-stock-dash">neStock</h1>
    </div>
    <div id="dash-all">
        <div id="navbar">
            <h3 id="dash-welcome"> Welcome, {{ current_user }} </h3> 
            <div id="dash-links-new">
                <a href="/stats"> Statistics </a> | <a href="/buy_sell">Buy/Sell</a> | <a href="/profile">Profile</a> | <a href="/logout">Logout</a> 
            </div>
        </div> 
        <div id="dash-stuff">
            <div id="dash-portfolio">
                <p>My Portfolio</p>
                {% if number_of_stocks == 0 %}
                <div id="dash-p-content">
                    <p>You have no stocks in your portfolio. To get started, click <a href="/profile">here</a>.</p>
                </div>
                {% else %}
                    {% for stock in portfolio %}
                        {% if stock.stock_name == "BYND" %}
                            <a id="" href="/feed/{{ stock.id }}">
                                <img id="bynd-logo" src="{% static 'beyondlogo.jpg' %}" alt="beyond logo">
                            </a>
                        {% elif stock.stock_name == "AMZN" %}
                            <a href="/feed/{{ stock.id }}">
                                <img id="amzn-logo" src="{% static 'amazon.jpg' %}" alt="amazon logo">
                            </a>
                        {% elif stock.stock_name == "GOOGL" %}
                            <a href="/feed/{{ stock.id }}">
                                <img id="googl-logo" src="{% static 'google.jpg' %}" alt="google logo">
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div id="dash-news">My News Feed
                <div id="dash-news-all">
                    {% if number_of_stocks == 0 %}
                        <p id ="dash-news-all-p">You have no stocks in your portfolio. To get started, click <a id ="dash-news-all-a" href="/profile">here</a>.</p>
                    {% else %}
                        <p id="you-have-new-news">You have new articles to read. Click on one of your stocks to view them.</p>
                    <div id="small-news-container">
                        {% for stock in portfolio %}
                            <li><a id="a-li" href="/feed/{{ stock.id }}">{{ stock.stock_name }}</a></li>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
            </div>
            <div id="dash-stats">Statistics
                <div id="dash-stats-all">
                    <p>Load your custom stats <a href="/stats">here</a>. Note: please allow 1-2 minutes for stats to generate.</p>
                </div>
            </div>
        </div>
    </div>
    <hr id="">
    <div id="feed-bottom-line">
        <h4>OneStock Investment Tools</h4>
        <h5>Copyright 2020-2021. All rights reserved.</h5>
    </div>
</body>
</html> 