<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'background.css' %}">
    <title>Feed</title>
</head>
<body>
    <h1> Welcome, {{ current_user }} </h1> <a href="/logout">Logout</a> | <a href="/stats">NASDAQ Stats</a> | <a href="/profile">Profile</a> | <a href="/success"> Return to Dashboard</a> | <a href="/buy_sell">Buy/Sell</a>
    <h2>Your Custom Feed</h2>
    <div id="container">
        <div id="one-side-one">
            {% for object in header_dict %}
                <p class="article">{{ object }}</p>
                <!-- need to debug save button -->
                <!-- <a href="/save/{{ object }}">Save this Article</a> -->
                <hr>
                <br><br>
            {% endfor %}
        </div>
        <div id="other-side">
            {% for link in corrected_link %}
                <a href="{{ link }}">{{ link }}</a>
                <br><br>
                <br>
                <hr>
            {% endfor %}
        </div>
    </div>
</body>
</html> 