<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'background.css' %}">
    <title>Feed</title>
</head>
<body>
    <h1> Welcome, {{ current_user }} </h1> <a href="/logout">Logout</a> | <a href="/stats">NASDAQ Stats</a> | <a href="/profile">Profile</a> | <a href="/success"> Return to Dashboard</a> | <a href="/buy_sell">Buy/Sell</a>
    <h2>Your Custom Feed</h2>
    <!-- {% for article in recent_ten_ascend %}
        <p>{{ article.headliner }}</p>
        <p>{{ article.hyperlink }}</p>
    {% endfor %}  -->
    {% for key, value in consolidated.items %}
        <span>
            <a href="{{ value }}">
                <p>{{ key }}</p>
            </a>
            {% if consolidated.key in user_saved_articles.all %}
                <a href="/save/{{ key }}">Unsave</a>
            {% else %}
                <a href="/save/{{ key }}">Save this Article</a>
            {% endif %}
        </span>
        <br><br>
        <hr>
    {% endfor %}
</body>
</html> 