<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">   
    <title>NASDAQ Stats</title>
</head>
<body>
    <div id="container">
        <div id="first">
            <div id="head">
                <h1 id="one-stock">OneStock</h1><img id="logo" src="{% static 'onestock_logo_wings.png' %}" alt="one stock logo">
                <h3 id="welcome1"> {{ current_user }}'s Profile </h3> 
                <div id="links">
                    <a href="/stats"> Statistics </a> | <a href="/buy_sell">Buy/Sell</a> | <a href="/profile">Profile</a> | <a href="/logout">Logout</a> 
                </div>
            </div>
    <h2>Your NASDAQ Stats</h2>
    <div id="container">
        <div id = "other-side">
            {% for stock in this_stock %}
            <p> {{ stock.stock_name }} </p>
            {% endfor %}
        </div>
        <div id = "one-side">
            {% for object in progress_dict %}
            <p>Stock Price: {{ object }} </p>
            {% endfor %}
        </div>
    </div>
</body>
</html> 




