<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">   
    <title>NASDAQ Stats</title>
</head>
<body>
    <div id="container">
        <div id="first">
            <div id="head">
                <h1 id="one-stock">OneStock</h1><img id="logo" src="{% static 'onestock_logo_wings.png' %}" alt="one stock logo">
                <h3 id="welcome1"> {{ current_user }}'s Profile </h3> 
                <div id="links">
                    <a href="/success"> Dashboard </a> | <a href="/stats"> Statistics </a> | <a href="/buy_sell">Buy/Sell</a> | <a href="/profile">Profile</a> | <a href="/logout">Logout</a> 
                </div>
            </div>
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/update_username" method='POST' id="add-form">
                {% csrf_token %}
                <div>
                    <p class = "">Username:</p>
                    <textarea name="username">{{ username }}</textarea>      
                    <br><br>
                </div>
                <input type="submit" value="Update" id = "button">
            </form>
            <form action="/check_stock_name" method='POST' id="add-form">
                {% csrf_token %}
                <p id = "">Add a stock to your portfolio:</p>
                <div>
                    <label for="stock-option">Enter a Stock:</label>
                    <input class="stock-option" type="text" name = "stock-option">
                </div>
                <input type="submit" value="Submit Stocks" id = "button">
            </form>
            <br><br>
            <h3>My Portfolio:</h3>
            {% for stock in portfolio %}
            Stock name:<a href="/feed/{{ stock.id }}"> {{ stock.stock_name }} </a> | <a href="/rm-stock/{{ stock.id }}"> Remove </a>
            <hr>
            <br><br>
            {% endfor %}
            <form action="/delete/{{ user.id }}" method='POST' id="add-form">
                {% csrf_token %}
                <input type="submit" value="Delete Profile" id = "button">
            </form>
        </div>
        <div id="second">
            <h2>My Saved Articles</h2>
            {% for article in saved_articles%}
                <a href="{{ article.hyperlink }}">
                    <p>{{ article.headliner }}</p>
                </a>
                <a href="/unsave_profile/{{ article.headliner }}">Unsave</a>
            {% endfor %}
        </div>
    </div>
</body>
</html> 