<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  {% load static %} -->
    <link rel="stylesheet" href="index.css">   
    <title>Feed</title>
</head>
<body id="wavy-body">
    <div id="floating-logo">
        <img id="logo" src="artsy_white_logo.png" alt="one stock logo"><h1 id="one-stock-dash">neStock</h1>
    </div>
    <div id="dash-all">
        <div id="navbar">
            <h3 id="dash-welcome"> Welcome {{ current_user }} </h3> 
            <div id="dash-links">
                <a href="/stats"> Statistics </a> | <a href="/buy_sell">Buy/Sell</a> | <a href="/profile">Profile</a> | <a href="/logout">Logout</a> 
            </div>
        </div> 
        <div id="dash-stuff">
        <h2 id="custom-feed">Your Custom Feed</h2>
        {% for key, value in consolidated.items %}
            <span id="feed-article">
                <a href="{{ value }}">
                    <p>{{ key }}</p>
                </a>
                {% if key not in saved_headlines %}
                    <a href="/save/{{ key }}">Save</a>
                {% else %}
                    <a href="/save/{{ key }}">Unsave</a>
                {% endif %}
            </span>
            <br><br>
            <hr>
        {% endfor %}
        </div>
    </div>
    <hr id="bottom-line">
    <div id="footer">
        <h4>OneStock Investment Tools</h4>
        <h5>Copyright 2020-2021. All rights reserved.</h5>
    </div>
</body>
</html> 
